/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  background-color: #DDDDDD
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 3em;
}

#main-header {
  font-size: 3em;
  text-align: center;
}

#post-container {
  display: flex;
  justify-content: center;
}

.single-view-header {
  text-align: center;
}

#action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
}

#action-options {
  margin-right: 1em;
}

.action-box {

  border: 2px solid silver;
  border-radius: 4px;
}

#create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.home-button{
  position: fixed;
  top: 7.5%;
  right: 7.5%;
}

.error-message {
  color: red
}

#exchange-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.action-token-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid silver;
  border-radius: 4px;
}

.token-action {
  margin-left: .5em;
  margin-right: .5em
}

.warning-message {
  text-align: center
}
